services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_PASSWORD: password
      PGDATA: /data/postgres
    ports:
      - "5432:5432"
    volumes:
      - db:/data/postgres
      - ./init-db.sql:/docker-entrypoint-initdb.d/01-init-roles.sql
    command: postgres -c log_statement=all -c log_destination=stderr
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  postgREST:
    image: postgrest/postgrest:latest
    environment:
      PGRST_LOG_LEVEL: info
      PGRST_DB_URI: postgres://authenticator:password@db:5432/postgres
      PGRST_DB_ANON_ROLE: anon
      PGRST_DB_PRE_CONFIG: "postgrest.pre_config"
    ports:
      - "3010:3000"
    depends_on:
      db:
        condition: service_healthy

volumes:
  db:
