services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_PASSWORD: password
      PGDATA: /data/postgres
    ports:
      - "5432:5432"
    volumes:
      - db:/data/postgres

volumes:
  db:
